[Desktop Entry]
Version=1.0
Name=Olive
Comment=Professional open-source NLE video editor
Exec=olive-editor
Icon=${SNAP}/meta/gui/olive-editor.png
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
StartupNotify=true